html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}

.layout {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}


.table {
    background-color: lightblue;
    overflow: scroll;
    height: 90%;
}

.footer {
    height: 10%;
}